<tei2html.config>
    <text.abbr>Litt.D.; S.B.R.A.S.; J.R.A.S.; d.s.b.; R.A.S.; J.I.A.; F.R.S.; H.B.M.; R.N.B.; F.G.S.; F.L.S.; C.O.B.; D.C.L.; C.I.E.; LL.D.; Ph.D.; Sc.D.; A.M.; P.M.; S.B.; s.v.; S.E.; N.E.; S.W.; N.W.; H.H.; H.M.; R.I.; M.A.; N.S.; i.e.; I.e.; e.g.; i.q.; q.v.; v.l.; l.c.; M.D.; B.D.; W.S.; A.D.; B.C.; p.m.; P.S.; P.F.</text.abbr>
</tei2html.config>